---
layout: default
---

<html>
  <head>
    <title>
      {{site.acronym}}
    </title>
  <style>
.carousel {
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.grid-container {
display: grid;
gap: 5px;
grid-template-columns: auto auto auto auto;
padding: 10px;
}
.grid-item {
  padding: 10px;
  text-align: center;
}

  </style>

</head>

<body>

<div class='container'>
  <div style="text-align: center;">
    <h2 style="color: rgb(65, 65, 65);">{{site.title}}</h2>
    </div>
    
    <span style="display: block; margin-bottom: 3em"></span>

    <!-- CAROUSEL -->
    <div class="container-fluid" style="width: 100%;">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
    
        <div class="carousel-inner">

          <!-- Carausel 0 -->
          <div class="item active">
            <img src="images/carousel/8.png"  style="width:100%;">
          </div>

          <!-- Carausel 1 -->
          <div class="item">
            <img src="images/carousel/26.jpg"  style="width:100%;">
          </div>

          <!-- Carausel 2 -->
          <div class="item">
            <img src="images/carousel/6.png"  style="width:100%;">
          </div>

          <!-- Carausel 3 -->
          <div class="item">
            <img src="images/carousel/learningtodistract.png"  style="width:100%;">
          </div>
          <!-- Carausel 4 -->
          <div class="item">
            <img src="images/carousel/4.jpg"  style="width:100%;">
          </div>

          <!-- Carausel 5 -->
          <div class="item">
            <img src="images/carousel/34.jpg" style="width:100%;">
          </div>

        </div>
    
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!-- SOCIAL MEDIAS -->
    <div class="row" style="margin: 20px; padding: 20px; text-align: center;">
    <a href="https://github.com/KordingLab"><i class="fa fa-github"></i> LiKELab</a>&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/KordingLab"><i class="fa fa-twitter"></i> LiKELab</a>&nbsp;&nbsp;&nbsp;
    <a href="mailto:kording@upenn.edu"><i class="fa fa-envelope-o"></i> likelab@iith.ac.in</a>
    </div>
    <!-- ---------- -->

    <!-- NEWS SECTION -->
    <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
      <div style="text-align:left">
        <h3> Recent News </h3>
        <span style="display: block; margin-bottom: 2em"></span>

        <div class="news">

              {%assign count = 0%}
              {% for new in site.data.news %}

                {%if new.details%}

                {%assign count = count | plus: 1%}
                  {%if count > site.number_of_news_in_homepage%}
                    {%break%}
                  {%endif%}

                  <div class="row" style="padding-left: 20px;">
                  <column style="float:left; width:75px; text-align:left; padding-right:5px">
                    <b>{{new.year}}/{{new.month}}/{{new.day}}</b>
                  </column>
                  <column style="float:left; width:10px; text-align:right; padding-right:15px">
                    <b>:</b>
                  </column>
                  <column style="float:left; width:600px; text-align:justify"><p>{{ new.details }}</p></column>
                </div>
                  {%endif%}
              {% endfor %}
            <!-- </ul> -->
            <!-- if count is more than 3 then  -->
            {%if count > site.number_of_news_in_homepage%}
              <a href="{{site.baseurl}}/news" style="text-align:left;"><u>More News</u></a>
            {%endif%}
        </div>
        
      </div >
      
    </div>
    <!-- ---------- -->

    <span style="display: block; margin-bottom: 3em"></span>

    <!-- ---------- -->

    <!-- LAB CULTURE -->
    <div>
      <h6 style="text-align: left;"></h6>
      <p style="text-align: justify;">
       
      We are a young and dynamic research group as part of the <a href="https://cse.iith.ac.in/">Deaprtment of Computer Science and Engineering</a> 
      at <a href="https://iith.ac.in/">Indian Institute of Technology Hyderabad</a>. We are committed to pushing the frontiers of 
      Natural Language Processing (NLP), Information Retrieval (IR), and related domains through cutting-edge research and development. 
      We collaborate closely with academic institutions, industry partners, and other research groups to drive innovation in these fields.
      Our focus is on developing efficient and effective algorithms, models, and systems that can scale to real-world applications.
      We also strive to make our research accessible and impactful by publishing our findings in top-tier conferences and journals, 
      and by open-sourcing our software and datasets. Join us in our pursuit of advancing the state-of-the-art in NLP and IR Research! </p>

      <p style="text-align: justify;"> 
      We are located near the beautiful city of Hyderabad, which was established in 1591 by Muhammad Quli Qutb Shah, a ruler of the Qutb Shahi 
      dynasty. The city's rich cultural and architectural heritage is renowned, having been predominantly governed by the Nizams throughout 
      its history. The city's unique blend of modern infrastructure and traditional charm make it a must-visit destination for anyone looking to 
      experience the diverse and dynamic culture of India.</p>

      </div>
    <!-- ---------- -->

    <span style="display: block; margin-bottom: 3em"></span>

    <!-- ---------- -->


    <!-- <a class="twitter-timeline" href="https://twitter.com/KordingLab" data-widget-id="695051708246941697">Tweets by @KordingLab</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

    <!-- CONTRIBUTORS -->
    <p style="text-align: left;">We are grateful for fundings from <a href="https://www.microsoft.com/">Microsoft</a>, <a href="https://tihan.iith.ac.in/">TiHan</a> and <a href="https://www.honeywell.com/us/en">Honeywell</a>.</p>

    <!-- ORGANIZATIONS -->
    <div class="grid-container">
      <div class="grid-item"><img src="/images/logo/iith.png" width="80%"></div>
      <div class="grid-item"><img src="/images/logo/microsoft.webp" width="80%"></div>
      <div class="grid-item"><img src="/images/logo/accenture.webp" width="80%"></div>
      <div class="grid-item"><img src="/images/logo/honeywell.webp" width="80%"></div>  
      <div class="grid-item"><img src="/images/logo/parabole.webp" width="80%"></div>  
      <div class="grid-item"><img src="/images/logo/nvidia.webp" width="80%"></div>
      <div class="grid-item"><img src="/images/logo/nagayo.webp" width="80%"></div>
      <div class="grid-item"><img src="/images/logo/tihan.webp" width="80%"></div> 
    </div>

</div>
</body>
</html>