---
layout: default
---

<html>
  <head>
  <style>
  .carousel {
      border-radius: 10px 10px 10px 10px;
      overflow: hidden;
  }
  </style>
</head>

<body>

<div class='container'>
  <div style="text-align: center;">
    <h2>Natural Language Processing Lab</h2>
    </div>
    <span style="display: block; margin-bottom: 3em"></span>

    <!-- <div>
    <h6>About us</h6>
    <p style="text-align: justify;">We are a group of data scientists with interest in brains and, more general, 
      biomedical research. Our research is more diverse than most labs, and also changes much more quickly! 
      Right at the moment, much of the research in the lab is about deep learning and its 
      applications. We also do a good bit of neural data analysis. Right now we are also very much interested in causality and its links with machine learning.
    </p>
    
    </div> -->

    <div class="container-fluid">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    
        <div class="carousel-inner">
          <div class="item active">
            <img src="images/carousel/la.jpg" alt="Los Angeles" style="width:100%;">
            <div class="carousel-caption">
              <h3>Los Angeles</h3>
              <p>LA is always so much fun!</p>
            </div>
          </div>
          <!-- Carausel 1 -->
          <div class="item">
            <img src="images/carousel/chicago.jpg" alt="Chicago" style="width:100%;">
            <div class="carousel-caption">
              <h3>Chicago</h3>
              <p>Thank you, Chicago!</p>
            </div>
          </div>
          <!-- Carausel 2 -->
          <div class="item">
            <img src="images/carousel/ny.jpg" alt="New York" style="width:100%;">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
          <!-- Carausel 3 -->

          <div class="item">
            <img src="images/carousel/ny.jpg" alt="New York" style="width:100%;">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
          <!-- Carausel 4 -->
          <div class="item">
            <img src="images/carousel/ny.jpg" alt="New York" style="width:100%;">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
          <!-- Carausel 5 -->
          <div class="item">
            <img src="images/carousel/ny.jpg" alt="New York" style="width:100%;">
            <div class="carousel-caption">
              <h3>New York</h3>
              <p>We love the Big Apple!</p>
            </div>
          </div>
        </div>
    
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!-- SOCIAL MEDIAS -->
    <div class="row" style="margin: 20px; padding: 20px; text-align: center;">
    <a href="https://github.com/KordingLab"><i class="fa fa-github"></i> KordingLab</a>&nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/KordingLab"><i class="fa fa-twitter"></i> KordingLab</a>&nbsp;&nbsp;&nbsp;
    <a href="mailto:kording@upenn.edu"><i class="fa fa-envelope-o"></i> kording@upenn.edu</a>
    </div>
    <!-- ---------- -->

    <!-- NEWS SECTION -->
    <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
      <div style="text-align:left">
        <h3> Recent News </h3>
        <div class="news">
            <ul style="list-style-position:outside;padding-top:10px;padding-left:20px;text-align:justify" >
              
              {%assign count = 0%}
              {% for new in site.data.news %}

                {%if new.details%}

                {%assign count = count | plus: 1%}
                  {%if count > site.number_of_news_in_homepage%}
                    {%break%}
                  {%endif%}

                  <li><b>({{new.year}}/{{new.month}}/{{new.day}})</b>: <span>{{ new.details }}</span></li>

                  {%endif%}
              {% endfor %}
            </ul>
            <!-- if count is more than 3 then  -->
            {%if count > 3%}
              <a href="{{site.baseurl}}/news" style="text-align: left;">More News</a>
            {%endif%}
        </div>
        
      </div >
      
    </div>
    <!-- ---------- -->

    <span style="display: block; margin-bottom: 3em"></span>

    <!-- ---------- -->

    <!-- LAB CULTURE -->
    <div>
      <h6 style="text-align: left;"></h6>
      <p style="text-align: justify;">
       
      We are a young and dynamic research group as part of the <a href="https://cse.iith.ac.in/">Deaprtment of Computer Science and Engineering</a> 
      at <a href="https://iith.ac.in/">Indian Institute of Technology Hyderabad</a>. We are committed to pushing the frontiers of 
      Natural Language Processing (NLP), Information Retrieval (IR), and related domains through cutting-edge research and development. 
      We collaborate closely with academic institutions, industry partners, and other research groups to drive innovation in these fields.
      Our focus is on developing efficient and effective algorithms, models, and systems that can scale to real-world applications.
      We also strive to make our research accessible and impactful by publishing our findings in top-tier conferences and journals, 
      and by open-sourcing our software and datasets. Join us in our pursuit of advancing the state-of-the-art in NLP and IR Research! </p>

      <p> 
      We are located near the beautiful city of Hyderabad, which was established in 1591 by Muhammad Quli Qutb Shah, a ruler of the Qutb Shahi 
      dynasty. The city's rich cultural and architectural heritage is renowned, having been predominantly governed by the Nizams throughout 
      its history. The city's unique blend of modern infrastructure and traditional charm make it a must-visit destination for anyone looking to 
      experience the diverse and dynamic culture of India.</p>

      </div>
    <!-- ---------- -->

    <span style="display: block; margin-bottom: 3em"></span>

    <!-- ---------- -->


    <!-- <a class="twitter-timeline" href="https://twitter.com/KordingLab" data-widget-id="695051708246941697">Tweets by @KordingLab</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->

    <!-- CONTRIBUTORS -->
    <p style="text-align: left;">We are grateful for fundings from <a href="https://www.microsoft.com/">Microsoft</a>, <a href="https://tihan.iith.ac.in/">TiHan</a> and <a href="https://www.honeywell.com/us/en">Honeywell</a>.</p>
    <!-- ROW 1 -->
    <div class = "row" style="display: flex;">
      <div class="column" style="flex: 50%; padding: 10px;">
        <img src="/images/logo/iith.jpg" style="width: 100px; padding-left: 30px">
      </div>
      <div class="column" style="flex: 50%; padding: 10px; padding-top: 40px;">
        <img src="/images/logo/microsoft.png" style="width: 130px; padding-left: 30px">
      </div>
      <div class="column" style="flex: 50%; padding: 10px;">
        <img src="/images/logo/tihan.webp" style="width: 100px; padding-left: 30px">
      </div>
      <div class="column" style="flex: 50%; padding: 10px;">
        <img src="/images/logo/google.jpg" style="width: 130px; padding-left: 30px">
      </div>
    </div>
    <!-- ROW 2 -->
    <div class = "row" style="display: flex;">
      <div class="column" style="flex: 50%; padding: 10px;">
        <img src="/images/logo/google.jpg" style="width: 130px; padding-left: 30px">
      </div>
      <div class="column" style="flex: 50%; padding: 10px;">
        <img src="/images/logo/google.jpg" style="width: 130px; padding-left: 30px">
      </div>
      <div class="column" style="flex: 50%; padding: 10px;">
        <img src="/images/logo/google.jpg" style="width: 130px; padding-left: 30px">
      </div>
    </div>
    <!-- ---------- -->

</div>
</body>
</html>