<html>
<head>
<style>
footer.sticky-bottom {
  text-align: center;
  font-size: 0.6rem;
  background-color: rgb(228, 228, 228);
  margin:0px;
  padding:30px;
}
</style>
</head>

<footer class="sticky-bottom mt-5">
  {{site.title}}<br>
  <a href="https://iith.ac.in">Indian Institude of Technology Hyderabad (IITH)</a><br>
  For more details, <a href="/gallery/#contact">Contact us</a>

  <span style="display: block; margin-bottom: 2em"></span>
  <div class="container">
    <!-- &copy; Copyright {{ site.time | date: '%Y' }} {{ site.name }}, All Rights Reserved.
    <br> -->
    {%- if site.last_updated -%}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {%- endif %}
  </div>

</footer>

</html>