<html>
<head>
<style>
footer.sticky-bottom {
  text-align: center;
  font-size: 0.6rem;
  background-color: rgb(228, 228, 228);
}
</style>
</head>

<footer class="sticky-bottom mt-5">
  <a href="/" style="color: black;">{{site.title}}</a><br>
  <a href="https://iith.ac.in" style="color: black;">Indian Institude of Technology Hyderabad (IITH)</a><br>
  For more details, <a href="/gallery/#contact" style="color: black;">Contact us</a>
  <br>
  

  <span style="display: block; margin-bottom: 2em"></span>

  <div class="container">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.name }}, All Rights Reserved.
    <br>
    {%- if site.last_updated -%}
    Last updated: {{ "now" | date: '%B %d, %Y' }}.
    {%- endif %}
  </div>

</footer>

</html>